<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/styles.css">
  </head>
  <body>
    <%- include('partials/header') %>
    
     <section class="wrapper">
          <div class="card-img guitar-wrapper">
            <img
            src="<%= guitar.img_src%>"
            alt="<%= guitar.name %>"
            />
          </div>
          <div class="card-info">
            <h1><%= guitar.name.toUpperCase() %></h1>
          </div>
          <dialog>
            <form class="form-confirm-delete" action="<% guitar.name %>" method="post">
              <p>Are you sure?</p>
              <input type="password" required name='confirmPassword' id="confirmPassword">
              <button class="close" autofocus>Cancel</button>
              <button class="confirm">Confirm</button>
            </form>
          </dialog>
          <button class="show" >Delete</button>
        </div>

    </section>
  </body>
  <script src="/public/js/handleDialog.js"></script>
</html>
