<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <section class="wrapper">
      <h1><%= title %></h1>
      <div class="cards-container">
        <% guitars.forEach(guitar => { %>
        <a href="<%= guitar.brand %>/<%= guitar.name.replaceAll(' ', '-') %>" class="card">
          <div class="card-img">
            <img
              src="/public/images/guitars/<%= guitar.brand %>/<%= guitar.name.replaceAll(' ', '-') %>.jpg"
              alt="<%= guitar.name.replaceAll(' ', '-') %>"
            />
          </div>
          <div class="card-info">
            <h1><%= guitar.name.toUpperCase() %></h1>
          </div>
        </a>
        <% }) %>
      </div>
    </section>
  </body>
</html>
